body{
  overflow: hidden;
}
@media screen and (max-width: 1522px){
  .item{
      font-size: 12px;
  }
  .dropdown button {
      font-size: 12px;
  }
}



@media screen and (max-width: 1358px){
  footer{
      height: 110vh;
  }
  .b{
      font-size: 12px;
  }
  .a{
      height: 45%;
  }
  .element {
      width: 75%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .adresse-foot,.num-foot,.mail-foot{
      display: flex;
  justify-content: center;
  }
  .num-foot p{
      display: flex;
  flex-direction: column;
  }
  .num-foot span{
      display: flex;
  justify-content: center;
  align-items: center;
  }
  .mail-foot p{
      display: flex;
  flex-direction: column;
  }
  .mail-foot span{
      display: flex;
      justify-content: center;
      align-items: center;
  }

}


@media screen and (max-width: 1358px) {
  .item{
      display: none;
  }
  .dropdown2{
      display: flex;
      flex-direction: column;
      position :absolute;
      
}
.navbar
{
  position: relative;
  position: fixed;
}
.drop-plus{
  display: block;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}
.navbar-items{
  width: 0%;
}
.drop-plus img{
  width: 35%;
}
.navbar-image{
  width: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.navbar-image img{
  width: 25%;
  border-radius: 0 0 0 15px;
}
.dropDrop{
  display: block;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.adress-loca{
  width: 100%;
}
.adress1, .tel, .mail {
  display: flex;
  justify-content: center;
}
.mail{

  display: flex;
  flex-direction: column;
  align-items: center;

}
.mail span {
  display: flex;
justify-content: center;
    }
}


  
 
  
  
    

@media screen and (max-width: 1032px){
    .adress-foot,.mention {
      width: 50%;
    }
    .logo-elem {
      width: 85%;
      height: 60%;
  }
}
/* @media screen and (max-width: 870px){
  .navbar-image {
      width: 30%;
  display: flex;
  justify-content: flex-end;
  }
  .navbar-image img {
      width: 60%;
      border-radius: 0 0 0 15px;
  }
} */
@media screen and (max-width: 784px){
  
  
  .certifi{
      width: 45%;
  }
  .btn-top{
      font-size: 27px;
      width: 65px;
      height: 65px;
  }
}

@media screen and (max-width: 486px){
  .drop-plus {
      display: block;
      width: 100%;
      height: 90%;
      display: flex;
      justify-content: flex-start;
  }
  .dropDrop {
      
      width: 50%;
      
  }
  .navbar-image img {
      width: 47%;
  }
  .logo-foot{
      width: 50%;
  }
  .logo-elem {
      width: 100%;
      height: 60%;
  }
  .title-foot p{
      font-size: 17px;
  }
}

@media screen and (max-width: 414px){
  .title-foot p{
      font-size: 15px;
  }
  .certifi {
      width: 65%;
  }
  .drop-plus img {
      width: 36%;
  }
  .dropDrop {
      width: 50%;
  }
  .navbar-image {
      width: 50%;
     
  }
  .adress-foot,.mention{
      width: 75%;
  }
  .localisation {
      width: 95%;
      height: 100%;
  }
  .tiltle-contenu{
    font-size: 20px;
}
}
